/* GENERAL STYLES */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.container {
  /* max-width: 1158px; */
  /* padding: 0 15px;
  margin: 0 auto; */
  /* padding-left: 0;
  padding-right: 0; */
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
@@ -97,7 +92,6 @@ img {
    .section{
      padding:96px ;
    }

    .mobile-open-btn{
        display: flex;
        align-items: center;
@@ -139,12 +133,9 @@ img {

.page-navigation{
  align-items: center;
  /* padding-bottom: 17,5px; */
}
    .hero{
    width: 100%;


    }
    .main-title{
        align-items: center;  
@@ -293,7 +284,24 @@ img {
    gap: 40px;
  }
}

.burger-contacts-mail{
color: #434455;
font-family: Roboto;
font-size: 20px;
font-weight: 500;
line-height: 1.2;/* 120% */
letter-spacing: 0.02em;
font-style: normal;
}
.burger-contacts-tel{
  color: #4D5AE5;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;/* 120% */
  letter-spacing: 0.02em;
  font-style: normal;
}
/* ============== /HEADER STYLES ============== */
/* ============== HERO STYLES ============== */
.hero {
@@ -371,15 +379,6 @@ img {
}
}


  /* @media (min-device-pixel-ratio: 2), */
/* (min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mobile-pc@2x.jpg);
}
} */

@media screen and (min-width: 320px) {
  .hero{
  padding: 72px 0;
@@ -485,6 +484,25 @@ img {
  display: flex;
  gap:40px;
}
.burger-link{
color: #2E2F42;
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 1.1; /* 111.111% */
letter-spacing: 0.02em;
text-transform: capitalize;
}
.burger-link-current{
color: #404BBF;
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 1.1; /* 111.111% */
letter-spacing: 0.02em;
text-transform: capitalize;
}

/* ============== /HERO STYLES ============== */
/* ============== BENEFITS STYLES ============== */

          </svg>
        </button>
        <!-- MOBILE MENU -->
        <div class="burger-overlay is-open">
        <div class="burger-overlay">
          <div class="burger-modal-window">
            <button class="modal-close-btn" type="button">
              <svg class="close-btn-icon" width="8" height="8">
            <nav class="burger-navigation">
              <ul class="burger-navigation-list">
                <li class="burger-navigation-item list">
                  <a class="link" href="#">Studio</a>
                  <a class="burger-link-current link" href="#">Studio</a>
                </li>
                <li class="burger-navigation-item list">
                  <a class="link" href="#">Portfolio</a>
                  <a class="burger-link link" href="#">Portfolio</a>
                </li>
                <li class="burger-navigation-item list">
                  <a class="link" href="#">Contacts</a>
                  <a class="burger-link link" href="#">Contacts</a>
                </li>
              </ul>
            </nav>
                <ul class="burger-contacts-list list">
                  <li class="burger-contacts-item">
                    <a
                      class="burger-contacts-link link"
                      class="burger-contacts-tel link"
                      href="tel:+110001111111"
                      >+11 (000) 111-11-11</a
                    >
                  </li>
                  <li class="burger-contacts-item">
                    <a
                      class="burger-contacts-link link"
                      class="burger-contacts-mail link"
                      href="mailto:info@devstudio.com"
                      >info@devstudio.com</a
                    >
