/* GENERAL STYLES */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}
button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }


.container-header {
  display: flex;
  justify-content: space-between;
  padding: auto;
  align-items: center;
  
}
.page-navigation {
  display: flex;
  align-items: center;
}
.accent-color {
  color: #f4f4fd;
}
.accent-color-header {
  color: #2e2f42;
}

.accent-color-form {
  color: #4d5ae5;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  /* GENERAL STYLES */
  /* ============== HEADER STYLES ============== */
@media screen and (min-width: 320px) {
    .container {
      max-width: 320px;
      margin-left: auto;
      margin-right: auto;
    }
    .section{
      padding:96px ;
    }
    .mobile-open-btn{
        display: flex;
        align-items: center;
        border: none;
        line-height: 0;
        background-color: transparent;
        padding: 16px 0;
        width: 24px;
        height: 24px;
        cursor: pointer;
        flex-shrink: 0;
    }
    .menu {
        display: none;
        /* gap: 40px; */
        position: relative;
      }
      
    .contact-information{
        display: none;
    }
   
   .icons-div{
    display:  none;
   }
   .main-title{
   text-align: center;
   font-size: 36px;
   font-weight: 700;
   line-height: 1.1; /* 111.111% */
   letter-spacing: 0.02em;
   text-transform: capitalize;
   /* margin-top: 72px;
   margin-bottom: 72px;
   margin-left: 16px;
   margin-right: 16px; */
   margin: auto;
    }
  
.page-navigation{
  align-items: center;
}
    .hero{
    width: 100%;
    }
    .main-title{
        align-items: center;  
    }
}

@media (min-width:1158px) {
  .icons-div {
    display: flex;
  }
}
  @media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
    }
    .menu {
        display: flex;
      }
      .mobile-open-btn{
        display: none;
      }
  }

  
  @media screen and (min-width: 1158px) {
    .container {
      max-width: 1158px;
      padding: 0 15px;
    }

  }
.page-header {
  border-bottom: 1px solid #e7e9fc;
  background: #ffffff;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
@media (max-width:767px){
  .page-header{
    padding: 16px 0;
  }
}
.section 
{
  padding: 96px 0;
}
@media (min-width:1158px){
  .section{
    padding: 120px 0;
  }
}
.page-navigation {
  display: flex;
  align-items: center;
}

.logotype-header {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

@media (min-width:768px){
  .menu {
    display: flex;
    gap: 40px;
  }
  .contact-information{
    display: block;
  }
}

.menu-link {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-bottom: 24px;
  padding-top: 24px;
}

.current {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #404bbf;
}

.current::after {
  width: 100%;
  width: 48px;
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  gap: 20px;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.contact-list-link {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #434455;
}
@media (min-width:1158px){
  .contact-list-link
{
  font-size: 16px;
  line-height: 1.5;
}
}
.contact-list-link:hover,
.contact-list-link:focus {
  color: #404bbf;
}
.contact-information {
  font-style: normal;
  align-items: center;
}
.contact-list-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (min-width:1158px) {
  .contact-list {
    flex-direction: row;
    gap: 40px;
  }
}
.burger-contacts-mail{
color: #434455;
font-family: Roboto;
font-size: 20px;
font-weight: 500;
line-height: 1.2;/* 120% */
letter-spacing: 0.02em;
font-style: normal;
}
.burger-contacts-tel{
  color: #4D5AE5;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;/* 120% */
  letter-spacing: 0.02em;
  font-style: normal;
}
/* ============== /HEADER STYLES ============== */
/* ============== HERO STYLES ============== */
.hero {
  background-color: #2e2f42;
  color: #ffffff;
  margin: 0 auto;
  padding: 188px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}


@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),url('../images/people-office-mobile@2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image:linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ), url('../images/people-office-tablet.jpg');
  }
}


@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .hero{
    background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/people-office-tablet@2x.jpg');
  }
}

@media screen and (min-width: 1158px) {
  .hero{
    background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),url('../images/people-office-pc.jpg');
  }
  @media screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-device-pixel-ratio: 2) {
  .hero {
    background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),url('../images/people-office-pc@2x.jpg');
  }
}
}

@media screen and (min-width: 320px) {
  .hero{
  padding: 72px 0;
  }
  .main-title{
    text-align: center;
  max-width: 222px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
  }
}
@media (min-width:768px){
  .hero{
    padding: 112px 0;
  }
  .main-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07; /* 107.143% */
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 36px;
   
  }
}

@media (min-width:1158px) {
  .hero{
    padding: 188px 0;
  }
  .main-title{
    margin-bottom: 48px;
  }
}

.order-service-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  padding: 16px 32px;
  gap: 10px;
  border-radius: 4px;
  margin: 0 auto;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-btn:hover,
.order-service-btn:focus {
  background-color: #404bbf;
  color: #ffffff;
}

.burger-overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  transform: translateX(100%);
  padding: 72px 24px 40px 16px;
}

.burger-overlay.is-open{
  transform: translateX(0%);
}

.burger-modal-window{
  display: flex;
  flex-direction: column;
}
.burger-contacts-wrapper{
  margin-top: auto;
}

.burger-navigation-item:not(:last-child){
  margin-bottom: 40px;
}
.burger-contacts-item:not(:last-child){
  margin-bottom: 24px;
}
.burger-contacts{
  margin-bottom: 48px;
}
.social-list-burger{
  display: flex;
  gap:40px;
}
.burger-link{
color: #2E2F42;
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 1.1; /* 111.111% */
letter-spacing: 0.02em;
text-transform: capitalize;
}
.burger-link-current{
color: #404BBF;
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 1.1; /* 111.111% */
letter-spacing: 0.02em;
text-transform: capitalize;
}

/* ============== /HERO STYLES ============== */
/* ============== BENEFITS STYLES ============== */
.benefits-list {
  display: flex;
  gap: 72px;
  flex-direction: column;
}
.benefits-list-title{
  color:  #2E2F42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.1; /* 111.111% */
letter-spacing: 0.02em;
text-transform: capitalize;
}
@media (min-width:768px){
  .benefits-list{
  flex-direction: row;
  flex-wrap: wrap;
  gap:72px 24px;
  }
  .benefits-list-item{
    width: calc((100% - 24px)/2);
  }
  .benefits-list-title{
    text-align: left;
  }
}

@media screen and (min-width:1158px){
  .benefits-list-title {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
    color: #2e2f42;
    line-height: 24px;
  }
  .benefits-list{
    flex-wrap: nowrap;
    gap: 24px;
  }

}


  

.benefits-list-text,
.portfolio-list-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: #434455;
}
@media (max-width:1157px){
  .benefits-list-text{
    font-weight: 500;
  }
}
h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.icons-div {
  /* display: flex; */
  width: 264px;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
}
/* =============TEAM============ */
.team {
  background: #f4f4fd;
}

.section-title {
  margin-bottom: 72px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
@media screen and (max-width:767px) {
  .team-container{
    max-width: 296px;
  }
  .team-list-item:not(:last-child){
    margin-bottom: 72px;
  }
}
@media screen and (min-width:768px) and (max-width:1157px) { 
  .team-container{
    max-width: 584px;
  }
}
.team-list-item{
  border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    background-color: #ffffff;
}
@media screen and (min-width:768px){
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
    align-items: center;
  }
  .team-list-item {
    width: calc((100% - 24px) / 2);
  }
  
}
@media (min-width:1158px) {
  .team-list {
    flex-wrap: nowrap;
  }
}
.under-text {
  padding: 32px 0;
}
.team-list-fullname {
  text-align: center;
  margin-bottom: 8px;
}

.team-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.social-list {
  display: flex;
  justify-content: center;

  gap: 24px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-top: 8px;
  border-radius: 50%;
  border: 1px solid #4d5ae5;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
  border: #404bbf;
}

.social-list-icon {
  stroke: none;
  fill: #f4f4fd;
}

.social-list-item {
  width: 40px;
  height: 40px;
}

/* =============PORTFOLIO============ */

.overlay-text {
  position: absolute;
  font-size: 16px;
  line-height: 1.5;
  top: 0;
  letter-spacing: 0.02em;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay {
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .overlay-text {
  transform: translateY(0%);
}

@media (min-width:768px){
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 72px;
  background: #ffffff;
}
.portfolio-list-item {
  width: calc((100% - 24px) / 2);
  align-items: flex-start;
  justify-content: center;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}
}
@media (min-width:1158px){
  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
  }
  .portfolio-list{
    row-gap: 48px;
  }
}
@media (max-width:767px){
  .portfolio-list-item:not(:last-child){
    margin-bottom: 48px;
  }
}
@media(max-width:1157px){
  .portfolio-list-item{
box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }
}
.under-text-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list-title {
  margin-bottom: 8px;
}

/* =========FOOTER=============== */
.page-footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  flex-shrink: 0;
  padding: 100px 0;
  margin: 0 auto;
}
.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
  font-size: 16px;
  text-align: left;
}

.social-list-title {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.logotype-footer {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}

.social-list-footer {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.social-list-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #4d5ae5;
  background-color: #4d5ae5;
}
.social-list-item {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link-footer:hover,
.social-list-link-footer:focus {
  background-color: #31d0aa;
  border: #31d0aa;
}
@media (min-width:768px){
.container-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
  /* align-items: baseline; */
}
.form-subscribe {
  display: flex;
  gap: 24px;
}
}
@media (min-width:1158px){
.container-footer{
  flex-wrap: nowrap;
  gap: unset; 
}
}
@media screen and (min-width:768px) and (max-width:1157px) {
  .container-footer{
    max-width: 584px;
  }
}
.footer-logo{
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width:768px) {
  .footer-logo{
    align-items: flex-start;
  }
}
@media(max-width:767px){
  .footer-logo{
    margin-bottom: 72px;
  }
  .social-list-title{
    text-align: center;
  }
  .footer-social-container{
    margin-bottom: 72px;
  }
  .footer-subscribe{
    text-align: center;
  }
  .label-subscribe{
    margin-bottom: 24px;
  }
  .form-button{
    margin: 0 auto;
  }
  .form-input{
    width:288px;
}
}
@media( min-width:1158px){
.footer-logo {
  margin-right: 120px;
  display: block;
}
.footer-social-container {
  margin-right: 80px;
}
}
/* SUBSCRIBE ZONE */


.label-subscribe {
  flex-direction: column;
  display: flex;
}
.subscribe-div {
  display: block;
}
@media (min-width:768px){
  .form-input{
    width:264px;
  }
}
.form-input {
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.input::placeholder {
  color: #ffffff;
}
.subscribe-btn-icon {
  margin-left: 16px;
}
.form-button {
  padding: 8px 24px;
  display: flex;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
/* BACKDROP STYLES */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
/* MODAL WINDOW STYLES */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 584px;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width:768px){
  .modal{
    width: 408px;
  }
}
.modal-close-btn {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: #e7e9fc;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  stroke-width: 1px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: #ffffff;
  background-color: #404bbf;
  border: none;
}
.modal-text {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.form-field {
  width: 100%;
  height: 40px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-field-wrapper {
  margin-bottom: 8px;
}
.form-person-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  stroke: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field:focus {
  border-color: #4d5ae5;
  outline-offset: 2px;
  outline-color: transparent;
}
.form-field:focus + .form-person-icon {
  fill: #4d5ae5;
  stroke: #4d5ae5;
}
.review-form-message {
  width: 100%;
  height: 120px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  resize: none;
  color: #2e2f4266;
  padding: 8px 16px;
  border-radius: 4px;
  outline: transparent;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-message:focus {
  border-color: #4d5ae5;
  outline-offset: 2px;
  outline-color: transparent;
}
.form-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.48px;
  margin-bottom: 4px;
}

.review-form-field-comment {
  margin-bottom: 16px;
  border-color: #4d5ae5;
}
.review-form-input-wrapper {
  position: relative;
  margin-bottom: 8px;
}
.review-form-checkbox-label {
  display: flex;
  align-items: center;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
}

.review-form-own-checkbox-icon {
  stroke-width: 1px;
  stroke: rgba(46, 47, 66, 0.4);
}
.review-form-own-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 16px;
  height: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  flex-shrink: 0;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-checkbox-wrapper {
  margin-bottom: 24px;
}
.review-form-btn {
  display: block;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5 /* 150% */;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.review-form-checkbox:checked
  + .review-form-checkbox-label
  .review-form-own-checkbox {
  border: none;
  background-color: #404bbf;
  fill: #f4f4fd;
}
